
.headerUp {
    background-color: #942339;
    color: #942339;
    font-weight: bold;
    font-size: 40px;
}

.lineaOsucra {
    background-color: #5e1325;
    color: #5e1325;
}

.contenidoCard{
    background-color: #d4e0e9;
    /* border: 1px solid #90a0ad; */
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-bottom: 500px;
    margin-top: 150px;
    margin-bottom: 100px;
}
.principal{
    margin-bottom: 100px;
}

.logoStand {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: -60px; /* Ajuste de posición hacia arriba */
    border-radius: 50%;
    overflow: hidden;
    width: 170px; /* Reducción del tamaño del logo */
    height: 170px; /* Reducción del tamaño del logo */
    border: 5px solid transparent;
    background-image: linear-gradient(to bottom, #942339 50%, #942339 50%);
    position: relative;
    z-index: 2; /* Asegura que el logo esté en frente del banner */
}

.bannerStand {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    margin-top: -200px; /* Ajuste de posición hacia arriba */
    width: 100%; /* Ocupa el 100% del ancho disponible */
    max-width: 800px; /* Establecer un ancho máximo */
    height: auto; /* Ajuste de altura automática */
    border-radius: 10px;
    border: 3px solid transparent;
    background-image: linear-gradient(to bottom, #545454 100%, #942339 50%);
    position: relative;
}



.card{
    background-color: #d4e0e9;
}
.contenidoCard li {
    background-color: #d4e0e9;
}

.redes{
    display: flex;
    justify-content: center;
    align-items: center;
}


.calificacion {
    text-align: center;
    font-size: 50px;
    margin-top: 50px; /* Adjust the margin-top value as needed */
}


/* Estilo para estrellas rellenas */
.calificacion .estrella-rellena {
    color: #fdd835; /* Color para las estrellas rellenas */
}

/* Estilo para estrellas vacías */
.calificacion .estrella-vacia {
    color: #999; /* Color gris para las estrellas vacías */
}

.bx-dots-vertical-rounded{
    color: #fff;
    font-size: 40px;
    margin-left: -25px;
}

/* Cambiar el color del ícono al pasar el mouse */
.bx-dots-vertical-rounded:hover {
    color: #fff;
    text-decoration: none;
}

.redes {
    display: flex;
    justify-content: center;
}

.social-icons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%; /* Asegura que los iconos ocupen el ancho disponible */
}

.social-icon {
    margin: 0 5px; /* Espacio entre los iconos */
}



/* Media Query para dispositivos con un ancho máximo de 767px (puedes ajustar este valor según tu diseño) */
@media only screen and (max-width: 767px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .headerUp {
        font-size: 11px; /* Tamaño más pequeño para dispositivos móviles */
        padding-bottom: 10px;
    }
    
    .headerUp i{
        padding-top: 10px;
    }

    .headerUp p{
        padding-top: 15px;
    }

    .bx-dots-vertical-rounded{
        font-size: 30px;
        padding-top: -10px;
        color: #fff;
    }

    .headerUp i{
        font-size: 30px;
    }

    .bx-chevron-left{
        padding-right: 70px;
    }

    .bx-dots-vertical-rounded{
        padding-left: 70px;
    }

    .lineaOsucra{
        height: 10px;
        color: #fff;
    }

    .contenidoCard {
        margin-top: 20px;
        
    }

    .calificacion{
        margin-bottom: 40px;
        margin-top: 30px;
}
    .calificacion input[type="radio"]{
        text-align: center;
    }

    .contenidoCard{
        margin-top: 100px;
        margin-bottom: 100px;
    }

    .logoStand {
        margin-top: -50px; /* Ajustar la posición de la imagen en dispositivos móviles */
        width: 120px;
        height: 120px;
        border: 5px solid transparent;

    }

    .bannerStand{
        width: 90%;
        margin-top: -150px;

    }

}
